* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

}

#options {

}

#sliders {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#boxes-container {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

#boxes-container > * {
  flex-basis: 10%;
}

.box {
  border: 1px solid black;
  

}